<a href="https://colab.research.google.com/github/kameoman/pythonlesson/blob/main/Excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from glob import glob

In [9]:
filepaths = glob('*.xlsx')
filepaths

['請求書_10月_TTTInc.xlsx', '請求書_11月_XYZ株式会社.xlsx', '請求書_12月_株式会社ABC.xlsx']

In [10]:
filepath = filepaths[0]

In [11]:
filepath

'請求書_10月_TTTInc.xlsx'

In [ ]:
_df = pd.read_excel(filepath)
_df

In [13]:
!pip3 install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (2.5.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: jdcal in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.4.1)

In [16]:
columns = _df.iloc[10, [1,2,4,10,11,14]]
columns

Unnamed: 1                 日付
Unnamed: 2              商品コード
Unnamed: 4                 品名
Unnamed: 10      数量[L] or [-]
Unnamed: 11    単価[¥/L] or [¥]
Unnamed: 14                金額
Name: 10, dtype: object

In [23]:
df = _df.iloc[11:23, [1,2,4,10,11,14]]

In [24]:
df.columns = columns

In [25]:
df

10                   日付    商品コード     品名 数量[L] or [-] 単価[¥/L] or [¥]    金額
11  2020-10-04 00:00:00  GSL0001  レギュラー           20            120  2400
12  2020-10-05 00:00:00  GSL0002   ハイオク           45            160  7200
13  2020-10-06 00:00:00  GSL0003     軽油           50            100  5000
14  2020-10-07 00:00:00  GSL0002   ハイオク           45            160  7200
15  2020-10-08 00:00:00  GSL0003     軽油           50            100  5000
16  2020-10-09 00:00:00  CMT0002   洗車 B            1           1500  1500
17  2020-10-10 00:00:00  GSL0003     軽油           50            100  5000
18  2020-10-11 00:00:00  GSL0002   ハイオク           40            160  6400
19  2020-10-12 00:00:00  GSL0002   ハイオク           30            160  4800
20  2020-10-13 00:00:00  GSL0003     軽油           50            100  5000
21  2020-10-14 00:00:00  GSL0003     軽油           50            100  5000
22                  NaN      NaN    NaN          NaN            NaN     0

In [26]:
df['企業名'] = _df.iloc[2,0]
df.head()

10                   日付    商品コード     品名  ... 単価[¥/L] or [¥]    金額       企業名
11  2020-10-04 00:00:00  GSL0001  レギュラー  ...            120  2400  TTT Inc.
12  2020-10-05 00:00:00  GSL0002   ハイオク  ...            160  7200  TTT Inc.
13  2020-10-06 00:00:00  GSL0003     軽油  ...            100  5000  TTT Inc.
14  2020-10-07 00:00:00  GSL0002   ハイオク  ...            160  7200  TTT Inc.
15  2020-10-08 00:00:00  GSL0003     軽油  ...            100  5000  TTT Inc.

[5 rows x 7 columns]

In [28]:
df['企業コード'] = _df.iloc[3,4]
df['請求書No'] = _df.iloc[2,12]
df['発行日'] = _df.iloc[3,12]
df['発行者'] = _df.iloc[4,12]
df['発行者コード'] = _df.iloc[4,13]
df

10                   日付    商品コード     品名  ...         発行日 発行者 発行者コード
11  2020-10-04 00:00:00  GSL0001  レギュラー  ...  2020/10/31  岸辺    2.0
12  2020-10-05 00:00:00  GSL0002   ハイオク  ...  2020/10/31  岸辺    2.0
13  2020-10-06 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
14  2020-10-07 00:00:00  GSL0002   ハイオク  ...  2020/10/31  岸辺    2.0
15  2020-10-08 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
16  2020-10-09 00:00:00  CMT0002   洗車 B  ...  2020/10/31  岸辺    2.0
17  2020-10-10 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
18  2020-10-11 00:00:00  GSL0002   ハイオク  ...  2020/10/31  岸辺    2.0
19  2020-10-12 00:00:00  GSL0002   ハイオク  ...  2020/10/31  岸辺    2.0
20  2020-10-13 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
21  2020-10-14 00:00:00  GSL0003     軽油  ...  2020/10/31  岸辺    2.0
22                  NaN      NaN    NaN  ...  2020/10/31  岸辺    2.0

[12 rows x 12 columns]

In [30]:
def extract(filepath):
    _df = pd.read_excel(filepath)
    columns = _df.iloc[10, [1,2,4,10,11,14]]
    df = _df.iloc[11:23, [1,2,4,10,11,14]]
    df.columns = columns
    df['企業名'] = _df.iloc[2,0]
    df['企業コード'] = _df.iloc[3,4]
    df['請求書No'] = _df.iloc[2,12]
    df['発行日'] = _df.iloc[3,12]
    df['発行者'] = _df.iloc[4,12]
    df['発行者コード'] = _df.iloc[4,13]
    return df

In [ ]:
df = extract(filepath)
df.head()