<a href="https://colab.research.google.com/github/kameoman/pythonlesson/blob/main/%E3%82%AF%E3%83%AD%E3%82%B9%E9%9B%86%E8%A8%88%E3%81%A8%E3%82%B0%E3%83%A9%E3%83%95%E5%8C%96.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from glob import glob

In [6]:
filepaths = glob('請求書*.xlsx')
filepaths

['請求書_12月_TTTInc.xlsx',
 '請求書_10月_TTTInc.xlsx',
 '請求書_11月_XYZ株式会社.xlsx',
 '請求書_12月_株式会社ABC.xlsx',
 '請求書_11月_ICHIGO.xlsx',
 '請求書_12月_CDF商事.xlsx',
 '請求書_12月_STR_Corp.xlsx']

In [7]:
def extract(filepath):
    _df = pd.read_excel(filepath)
    columns = _df.iloc[10, [1,2,4,10,11,14]]
    df = _df.iloc[11:23, [1,2,4,10,11,14]]
    df.columns = columns
    df['企業名'] = _df.iloc[2,0]
    df['企業コード'] = _df.iloc[3,4]
    df['請求書No'] = _df.iloc[2,12]
    df['発行日'] = _df.iloc[3,12]
    df['発行者'] = _df.iloc[4,12]
    df['発行者コード'] = _df.iloc[4,13]
    return df

In [8]:
df = pd.DataFrame()

for filepath in filepaths:
    df = pd.concat([df, extract(filepath)])

In [9]:
len(df)

84

In [ ]:
df = df.dropna()
df.tail()

In [13]:
df = df.reset_index(drop=True)

In [15]:
df = df.iloc[:, [6,7,8,9,10,11,0,1,2,3,4,5]]

In [16]:
df.to_excel('all_data_02.xlsx', index=False)

In [18]:
members = df['発行者'].unique()
members

array(['岸辺', '山岡', '桜田'], dtype=object)

In [19]:
member = members[0]
member

'岸辺'

In [ ]:
_df = df[df['発行者'] == member]
_df

In [27]:
_df['金額'].sum()

120300

In [33]:
companies = _df['企業名'].unique()
companies

array(['TTT Inc.', 'ICHIGO'], dtype=object)

In [37]:
_df[_df['企業名'] == companies[0]]['金額'].sum()

89400

In [38]:
tot_earnings =_df['金額'].sum()
tot_earnings

120300

In [40]:
pd.DataFrame({'担当者': member, '企業名': '全体', '金額':tot_earnings}, index=[0])

  担当者 企業名      金額
0  岸辺  全体  120300

In [41]:
company = companies[0]
company

'TTT Inc.'

In [45]:
earnings = _df[_df['企業名'] == company]['金額'].sum()
earnings

89400

In [46]:
pd.DataFrame({'企業名': company, '金額':earnings}, index=[1])

        企業名     金額
1  TTT Inc.  89400

In [47]:
dict(担当者=member, 企業名='全体', 金額=tot_earnings)

{'企業名': '全体', '担当者': '岸辺', '金額': 120300}

In [48]:
dict(企業名=company, 金額=earnings)

{'企業名': 'TTT Inc.', '金額': 89400}

In [53]:
total_res = []
for member in members:
    _df = df[df['発行者'] == member]
    companies = _df['企業名'].unique()

    tot_earnings =_df['金額'].sum()
    total_res.append(dict(担当者=member, 企業名='全体', 金額=tot_earnings))
    for company in companies:
        earnings =_df[_df['企業名'] == company]['金額'].sum()
        total_res.append(dict(企業名=company, 金額=earnings))

In [54]:
total_res

[{'企業名': '全体', '担当者': '岸辺', '金額': 120300},
 {'企業名': 'TTT Inc.', '金額': 89400},
 {'企業名': 'ICHIGO', '金額': 30900},
 {'企業名': '全体', '担当者': '山岡', '金額': 35800},
 {'企業名': 'XYZ株式会社', '金額': 35800},
 {'企業名': '全体', '担当者': '桜田', '金額': 154400},
 {'企業名': '株式会社ABC', '金額': 60100},
 {'企業名': 'CDF商事', '金額': 39000},
 {'企業名': 'STR Corp.', '金額': 55300}]

In [55]:
pd.DataFrame(total_res, columns={'担当者', '企業名', '金額'})

   担当者      金額        企業名
0   岸辺  120300         全体
1  NaN   89400   TTT Inc.
2  NaN   30900     ICHIGO
3   山岡   35800         全体
4  NaN   35800    XYZ株式会社
5   桜田  154400         全体
6  NaN   60100    株式会社ABC
7  NaN   39000      CDF商事
8  NaN   55300  STR Corp.