<a href="https://colab.research.google.com/github/kameoman/pythonlesson/blob/main/%E3%82%AF%E3%83%AD%E3%82%B9%E9%9B%86%E8%A8%88%E3%81%A8%E3%82%B0%E3%83%A9%E3%83%95%E5%8C%96.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from glob import glob

In [2]:
filepaths = glob('請求書*.xlsx')
filepaths

['請求書_12月_TTTInc.xlsx',
 '請求書_10月_TTTInc.xlsx',
 '請求書_11月_ICHIGO.xlsx',
 '請求書_12月_株式会社ABC.xlsx',
 '請求書_11月_XYZ株式会社.xlsx',
 '請求書_12月_STR_Corp.xlsx',
 '請求書_12月_CDF商事.xlsx']

In [3]:
def extract(filepath):
    _df = pd.read_excel(filepath)
    columns = _df.iloc[10, [1,2,4,10,11,14]]
    df = _df.iloc[11:23, [1,2,4,10,11,14]]
    df.columns = columns
    df['企業名'] = _df.iloc[2,0]
    df['企業コード'] = _df.iloc[3,4]
    df['請求書No'] = _df.iloc[2,12]
    df['発行日'] = _df.iloc[3,12]
    df['発行者'] = _df.iloc[4,12]
    df['発行者コード'] = _df.iloc[4,13]
    return df

In [4]:
df = pd.DataFrame()

for filepath in filepaths:
    df = pd.concat([df, extract(filepath)])

In [5]:
len(df)

84

In [6]:
df = df.dropna()
df.tail()

10                   日付    商品コード     品名  ...         発行日 発行者 発行者コード
17  2020-12-21 00:00:00  CMT0003   洗車 C  ...  2020/12/28  桜田    5.0
18  2020-12-22 00:00:00  GSL0004     灯油  ...  2020/12/28  桜田    5.0
19  2020-12-22 00:00:00  CMT0005  タイヤ交換  ...  2020/12/28  桜田    5.0
20  2020-12-25 00:00:00  GSL0004     灯油  ...  2020/12/28  桜田    5.0
21  2020-12-28 00:00:00  CMT0004  オイル交換  ...  2020/12/28  桜田    5.0

[5 rows x 12 columns]

In [7]:
df = df.reset_index(drop=True)

In [8]:
df = df.iloc[:, [6,7,8,9,10,11,0,1,2,3,4,5]]

In [9]:
df.to_excel('all_data_02.xlsx', index=False)

In [10]:
members = df['発行者'].unique()
members

array(['岸辺', '桜田', '山岡'], dtype=object)

In [11]:
member = members[0]
member

'岸辺'

In [12]:
_df = df[df['発行者'] == member]
_df

10       企業名  企業コード 請求書No         発行日  ...     品名  数量[L] or [-] 単価[¥/L] or [¥]    金額
0   TTT Inc.      6   012  2020/12/30  ...  レギュラー            35            120  4200
1   TTT Inc.      6   012  2020/12/30  ...  レギュラー            15            120  1800
2   TTT Inc.      6   012  2020/12/30  ...     軽油            50            100  5000
3   TTT Inc.      6   012  2020/12/30  ...  レギュラー            40            120  4800
4   TTT Inc.      6   012  2020/12/30  ...     軽油            50            100  5000
5   TTT Inc.      6   012  2020/12/30  ...  レギュラー            30            120  3600
6   TTT Inc.      6   012  2020/12/30  ...     軽油            50            100  5000
7   TTT Inc.      6   012  2020/12/30  ...   ハイオク            20            160  3200
8   TTT Inc.      6   012  2020/12/30  ...   ハイオク            15            160  2400
9   TTT Inc.      6   012  2020/12/30  ...     軽油            60            100  6000
10  TTT Inc.      6   012  2020/12/30  ...     軽油            35            100  3500
11  TTT Inc.      6   012  2020/10/31  ...  レギュラー            20            120  2400
12  TTT Inc.      6   012  2020/10/31  ...   ハイオク            45            160  7200
13  TTT Inc.      6   012  2020/10/31  ...     軽油            50            100  5000
14  TTT Inc.      6   012  2020/10/31  ...    コロン             3            800  2400
15  TTT Inc.      6   012  2020/10/31  ...  オイル交換             1           1000  1000
16  TTT Inc.      6   012  2020/10/31  ...   洗車 B             1           1500  1500
17  TTT Inc.      6   012  2020/10/31  ...     軽油            50            100  5000
18  TTT Inc.      6   012  2020/10/31  ...   ハイオク            40            160  6400
19  TTT Inc.      6   012  2020/10/31  ...  タイヤ交換             1           4000  4000
20  TTT Inc.      6   012  2020/10/31  ...     軽油            50            100  5000
21  TTT Inc.      6   012  2020/10/31  ...     軽油            50            100  5000
22    ICHIGO      6   012  2020/11/30  ...  レギュラー            20            120  2400
23    ICHIGO      6   012  2020/11/30  ...   ハイオク            45            160  7200
24    ICHIGO      6   012  2020/11/30  ...     軽油            50            100  5000
25    ICHIGO      6   012  2020/11/30  ...    コロン             3            800  2400
26    ICHIGO      6   012  2020/11/30  ...  オイル交換             1           1000  1000
27    ICHIGO      6   012  2020/11/30  ...   洗車 B             1           1500  1500
28    ICHIGO      6   012  2020/11/30  ...     軽油            50            100  5000
29    ICHIGO      6   012  2020/11/30  ...   ハイオク            40            160  6400

[30 rows x 12 columns]

In [13]:
_df['金額'].sum()

120300

In [14]:
companies = _df['企業名'].unique()
companies

array(['TTT Inc.', 'ICHIGO'], dtype=object)

In [15]:
_df[_df['企業名'] == companies[0]]['金額'].sum()

89400

In [16]:
tot_earnings =_df['金額'].sum()
tot_earnings

120300

In [17]:
pd.DataFrame({'担当者': member, '企業名': '全体', '金額':tot_earnings}, index=[0])

  担当者 企業名      金額
0  岸辺  全体  120300

In [18]:
company = companies[0]
company

'TTT Inc.'

In [19]:
earnings = _df[_df['企業名'] == company]['金額'].sum()
earnings

89400

In [20]:
pd.DataFrame({'企業名': company, '金額':earnings}, index=[1])

        企業名     金額
1  TTT Inc.  89400

In [21]:
dict(担当者=member, 企業名='全体', 金額=tot_earnings)

{'企業名': '全体', '担当者': '岸辺', '金額': 120300}

In [22]:
dict(企業名=company, 金額=earnings)

{'企業名': 'TTT Inc.', '金額': 89400}

In [23]:
total_res = []
for member in members:
    _df = df[df['発行者'] == member]
    companies = _df['企業名'].unique()

    tot_earnings =_df['金額'].sum()
    total_res.append(dict(担当者=member, 企業名='全体', 金額=tot_earnings))
    for company in companies:
        earnings =_df[_df['企業名'] == company]['金額'].sum()
        total_res.append(dict(企業名=company, 金額=earnings))

In [24]:
total_res

[{'企業名': '全体', '担当者': '岸辺', '金額': 120300},
 {'企業名': 'TTT Inc.', '金額': 89400},
 {'企業名': 'ICHIGO', '金額': 30900},
 {'企業名': '全体', '担当者': '桜田', '金額': 154400},
 {'企業名': '株式会社ABC', '金額': 60100},
 {'企業名': 'STR Corp.', '金額': 55300},
 {'企業名': 'CDF商事', '金額': 39000},
 {'企業名': '全体', '担当者': '山岡', '金額': 35800},
 {'企業名': 'XYZ株式会社', '金額': 35800}]

In [25]:
pd.DataFrame(total_res, columns={'担当者', '企業名', '金額'})

   担当者        企業名      金額
0   岸辺         全体  120300
1  NaN   TTT Inc.   89400
2  NaN     ICHIGO   30900
3   桜田         全体  154400
4  NaN    株式会社ABC   60100
5  NaN  STR Corp.   55300
6  NaN      CDF商事   39000
7   山岡         全体   35800
8  NaN    XYZ株式会社   35800

Vlook

In [ ]:
df_master = pd.read_excel('商品情報マスタ.xlsx')
df_master

In [ ]:
df_order = pd.read_excel('注文表.xlsx')
df_order

In [ ]:
df_merged = pd.merge(df_order, df_master, how='inner')
df_merged

In [ ]:
df_merged['金額'] = df_merged['数量'] * df_merged['単価[¥/L] or [¥]']
df_merged

##ピポッドテーブル

In [34]:
df = pd.read_excel('all_data_02.xlsx')
df.head()

        企業名  企業コード  請求書No  ... 数量[L] or [-] 単価[¥/L] or [¥]    金額
0  TTT Inc.      6     12  ...           35            120  4200
1  TTT Inc.      6     12  ...           15            120  1800
2  TTT Inc.      6     12  ...           50            100  5000
3  TTT Inc.      6     12  ...           40            120  4800
4  TTT Inc.      6     12  ...           50            100  5000

[5 rows x 12 columns]

In [35]:
import numpy as np

In [36]:
df.pivot_table(index=['企業名'], columns=['品名'], values='金額', aggfunc=np.sum)

品名          オイル交換     コロン    スナック      タイヤ  ...    洗車 B    洗車 C       灯油       軽油
企業名                                         ...
CDF商事      1000.0     NaN     NaN      NaN  ...     NaN  6000.0  12400.0      NaN
ICHIGO     1000.0  2400.0     NaN      NaN  ...  1500.0     NaN      NaN  10000.0
STR Corp.     NaN     NaN  1000.0  32000.0  ...  1500.0     NaN   2400.0      NaN
TTT Inc.   1000.0  2400.0     NaN      NaN  ...  1500.0     NaN      NaN  44500.0
XYZ株式会社       NaN     NaN     NaN      NaN  ...     NaN  6000.0   6800.0   5000.0
株式会社ABC    1000.0   800.0   300.0  32000.0  ...  1500.0  3000.0   2400.0   5000.0

[6 rows x 12 columns]